{%extends 'SentimentAnalyzer/main.html'%}
{% load static %}

{% block content %}

    {{request.user.client.name}}
    {%  include 'SentimentAnalyzer/status.html' %}

    <hr>
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>File ID</th>
                        <th>File Name</th>
                        <!--<th>Category</th> <th>Status</th>-->
                        <th>File</th>
                        <th>Date</th>

                        
                        
                    </tr>
                {% for file in files %}
                    <tr>
                        <td>{{file.id}}</td>
                        <td>{{file.filename}}</td>
                        <td>{{file.file}}</td>
                        <td>{{file.date_created}}</td>
                        
                        
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>

{% endblock %}
