<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="form.css">
    <title>Registration</title>
</head>
<body>
        <p><a href="login.html"><font color="white" size="25px">Previous</font></a></p>
    <h1 align="center">Registration Form</h1>

    <table align="center" cellpadding="10">
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="name" id="name" placeholder="Enter Your First Name"></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="name" id="name" placeholder="Enter Your Last Name"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email" id="name" placeholder="Enter Your Email"></td>
        </tr>
        <tr>
            <td>Date Of Birth:</td>
            <td><input type="date" name="bday" id="name" placeholder="Birthday date"></td>
        </tr>
        <tr>
            <td>Mobile Number:</td>
            <td><input type="number" name="num" id="name" placeholder="Mobile Number"></td>
        </tr>
        <tr>
        <td>Gender:
        </td>
        <td><input type="radio" name="gender" value="Male">Male
        <input type="radio" name="gender" value="female">Female <input type="radio" name="gender" value="others">Others</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><textarea rows="6" cols="25" placeholder="Enter Your Address"></textarea></td>
        </tr>
        <tr>
            <td>Hometown:</td>
            <td><input type="text" name="sate" id="name" placeholder="Enter Your Hometown"></td>
        </tr>
        <tr>
            <td>City:</td>
            <td><input type="text" name="city" id="name" placeholder="Enter Your City"></td>
        </tr>
        <tr>
            <td>Country:</td>
            <td><input type="text" name="country" id="name" placeholder="Enter Your Country"></td>
        </tr>
        
        <tr>
            <td align="center" colspan="2">
                <input type="submit" value="submit">&nbsp;&nbsp;
                <input type="submit"  value="reset">
            </td>
        </tr>

    </table>

</body>
</html>
