<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="logincss.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>restaurent revew sentiment analyser</title>
</head>
<body>
    <div class="features">
        <button><a href="sign.html">Sign In</a></button>
        <button><a href="form.html">Sign Up</a></button>

    </div>

</body>
</html>
