{% load static %}

        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            
          <div class="container">
              <a class="navbar-brand" href="{% url 'home' %}">Sentiment Analyzer</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="{% url 'review' %}">Analyze Review</a></li>
                      <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                      <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                      <!--Drop down list-->
                      <div class="dropdown">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'adminpanel'%}">Admin Panel</a>
                            <a class="dropdown-item" href="{% url 'files'%}">File Storage</a>
                          </div>
                      </div>
                      <!-- -->

                  </ul>
              </div>
          </div>
      </nav>