<!<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>restaurent revew sentiment analyser</title>
        <link rel="stylesheet" href="sign.css">
    </head>
    <body>
        <div class="features">



            <p><a href="login.html"><font color="white" size="25px">Previous</font></a></p>
        <h1 align="center">Registration Form</h1>

        <table align="center" cellpadding="10">

                <td>Email:</td>
                <td><input type="text" name="email" id="name" placeholder="Enter Your Mail Address"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="name" id="password" placeholder="Enter Your password"></td>
            </tr>
        </table>
        <button type="button" name="signin">Sign In</button>

        </div>
    </body>
</html>
